@import '../../../theme';
$foreground: map-get($theme, foreground);
:host {
    .card {
        border: 1px solid rgba(mat-color($foreground, secondary-text), 0.03);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
        margin: 4px;
        .title {
            color: mat-color($foreground, secondary-text);
            background: rgba(mat-color($foreground, secondary-text), 0.03);
            align-content: center;
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 8px 20px;
        }
        .content {
            padding: 10px 30px 10px 30px;
        }
    }
}