nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
}

@import '../../../theme';
$primary: map-get($theme, primary);

nav {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
}