@import '../../../theme';

div.intro-img {
    height: 350px;
    width: 100%;
    
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        left: 0;
        width: 100%;
        top:0;
        transform: translateY(-15%)
    }

    .centered {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        span {
            color: mat-color($primary, default-contrast);
            display: block;
            font-size: 100pt;
        }
    }

    .title-text {
        opacity: 0.60;
        text-align: center;
    }
}
.card {
    padding: 7px 7px 7px 7px;
    width: 32%;
    display: inline-block;
    vertical-align: top;
}
