/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
$screen-width: 1200px;
.app-content {
    max-width: $screen-width;
    margin-left: auto;
    margin-right: auto;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}